In [ ]:
%load_ext autoreload
%autoreload 2
import os
import sys
import glob
import pandas as pd
import numpy as np
HOME = os.path.expanduser('~')
sys.path.append(f"{HOME}/kaggle/data_analysis/library/")
sys.path.append(f"../py/")
import MS_utils
import utils, ml_utils
from utils import logger_func
try:
    if not logger:
        logger=logger_func()
except NameError:
    logger=logger_func()
import time

# Columns
key, target, ignore_list = MS_utils.get_basic_var()

# Basic Args
seed = 1208
set_type = 'all'

# Train Test Load
# train, test = MS_utils.get_dataset(feat_path='../features/2_second_valid/*.gz')
train, test = MS_utils.get_dataset()

In [208]:
# df_feat = pd.concat([train, test], axis=0)
# check_cols = [col for col in train.columns if col not in ignore_list and not(col.count('country_')) and not(col.count('Engine')) and not(col.count('Smart')) and not(col.count('OSVer'))]
iden_cols = [col for col in train.columns if col.count('Ident') ]
# check_cols = [col for col in train.columns if col not in ignore_list]
iden_cols
# check_cols

['MachineIdentifier',
 'f000_OrganizationIdentifier',
 'f000_Census_OSUILocaleIdentifier',
 'f000_IeVerIdentifier',
 'f000_AVProductStatesIdentifier',
 'f000_Census_FirmwareVersionIdentifier',
 'f000_CountryIdentifier',
 'f000_DefaultBrowsersIdentifier',
 'f000_Census_OEMModelIdentifier',
 'f000_LocaleEnglishNameIdentifier',
 'f000_Census_FirmwareManufacturerIdentifier',
 'f000_CityIdentifier',
 'f000_GeoNameIdentifier',
 'f000_Census_OEMNameIdentifier',
 'f000_Wdft_RegionIdentifier']

In [1]:
pd.set_option('max_rows', 500)
cat_cols = [
#     'country_os_group'
    'f000_RtpStateBitfield'
    ,'f000_OsBuild'
    ,'f000_OsVer'
    ,'f000_Census_OSBuildRevision'
    ,'f000_Census_OSBuildNumber'
    ,'f000_Census_ChassisTypeName'
    ,'f000_Census_OSEdition'
    ,'f000_Census_FlightRing'
    ,'f000_Census_MDC2FormFactor'
    ,'f000_OsBuildLab'
    
]


# for col in check_cols:
# for col in cat_cols:
for col in iden_cols:
#     df = get_train_test_comp(train, test, col)
#     no_train = df[df[f"train_{col}"]==0]
#     no_test = df[df[f"test_{col}"]==0]

    print(col)
    get_cat_target_dist(train, vi_col)
    sys.exit()

NameError: name 'pd' is not defined

In [163]:
en_col = 'f000_EngineVersion'
os_col = 'f000_Census_OSVersion'
vi_col = 'f000_AvSigVersion'
app_col = 'f000_AppVersion'
main_train_engine = [66, 67]
main_test_engine = [69, 70, 71, 72]
main_engine = main_train_engine + main_test_engine
main_test_os = [482,484,487,488,490,493,494,495,496,497,498,500,502,504,510,512,519,522
,528,532,535,541,574,481,483,485,486,491,501,506,507,508,509,511,513,514
,515,516,517,536,546,548,551,559,560,563,564,567,571,575,489,492,499,518
,520,521,523,524,525,526,527,549,550,553,556,561,565,576,577,529,530,531
,533,534,537,555,557,558,570,538,539,540,542,543,544,545,566,578]

col_1 = en_col
col_2 = app_col

tmp = df_feat[df_feat[en_col].isin(main_engine)]
# tmp = tmp[tmp[vi_col].isin(vi_list)]
# tmp = df_feat[df_feat[col_1]>480]

tmp = tmp.groupby([col_1, col_2]).size().reset_index().rename(columns={0:'cnt'})
tmp = tmp[tmp['cnt']>50000]
display(tmp)

app_list = tmp[app_col].unique()
sys.exit()
# vi_list = tmp[vi_col].unique()
# os_list = tmp[col_2].unique()

fig = plt.figure(figsize=(20, 4))
fig.patch.set_facecolor('white')
sns.set_style("whitegrid")

title = col_1
x_col = col_2

# target viz
sns.lmplot(data=tmp, x=x_col, y='cnt', hue=col_1, size=20)

plt.xlabel(f'{x_col}')
plt.title(f'{title} Distribution', fontsize=13, alpha=0.5)
plt.savefig(f'../kde_{title}.png')
plt.show()

     f000_EngineVersion  f000_AppVersion      cnt
13                   66               15   122526
19                   66               22   104834
24                   66               29    95586
37                   66               44    53346
43                   66               51    69395
50                   66               58   682986
56                   66               64  2189257
78                   66               92    94127
95                   66              110    91358
121                  67               15   123876
128                  67               22   111835
134                  67               29    62812
138                  67               33   129459
154                  67               51    51912
160                  67               58    54715
165                  67               64  3160707
188                  67               92    93324
204                  67              110    92138
230                  69               15    64157
237                  69               22    80476
246                  69               33    85309
272                  69               64   335746
274                  69               66  2169776
294                  69               92    64606
310                  69              110    61697
380                  71               15    70582
385                  71               22    60957
390                  71               29    63261
395                  71               35    69294
420                  71               64    71059
422                  71               66   558091
427                  71               72   930803
532                  72               72  1198586

SystemExit:

In [136]:
# vi_col ã® target avg
avg = df_feat.groupby(vi_col)[target].mean()
cnt = df_feat[vi_col].value_counts()
vi_target = pd.concat([avg, cnt], axis=1)
vi_target.reset_index(inplace=True)
# vi_target = vi_target[vi_target['index']>7000]
vi_high = vi_target[vi_target[target]>0.5]['index'].unique()
vi_low = vi_target[vi_target[target]<0.5]['index'].unique()

print("=== high ===")
en_high = train[train[vi_col].isin(vi_high)][train[en_col].isin(main_engine)]
display(en_high.groupby(en_col).size())
en_high = test[test[vi_col].isin(vi_high)][test[en_col].isin(main_engine)]
display(en_high.groupby(en_col).size())

print("=== low ===")
en_low = train[train[vi_col].isin(vi_low)][train[en_col].isin(main_engine)]
display(en_low.groupby(en_col).size())
en_low = test[test[vi_col].isin(vi_low)][test[en_col].isin(main_engine)]
display(en_low.groupby(en_col).size())

=== high ===

f000_EngineVersion
66    3549992
67    1338660
69       6533
dtype: int64

f000_EngineVersion
66    139898
67     68224
69      2528
71      3477
72      4478
dtype: int64

=== low ===

f000_EngineVersion
66     125921
67    2503335
69     113762
dtype: int64

f000_EngineVersion
66     18137
67    296608
69     56174
70         1
71     24047
72     33172
dtype: int64